{% extends "base_dashboard.html" %}
{% block content %}
    <div>
        <a data-bs-target="#AddBanner" data-bs-toggle="modal" role="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-plus"></i> Add Menu Link</a>
    </div>
    
    <h2>Table Menu Links</h2>
    {% include "pagination.html" %}
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">URL</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for item in page_obj %}
                <tr class="align-middle">
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td><a role="button" href="{{item.url}}">{{item.url}}</a></td>
                    <td>
                        <a href="{% url "home:edit_menu_links" item.id %}" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-pen-nib"></i></a>
                        <a data-bs-target="#delete{{item.id}}" data-bs-toggle="modal" class="btn btn-sm btn-outline-secondary"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                {% comment %} MODAL DELETE {% endcomment %}
                <div class="modal" tabindex="-1" id="delete{{item.id}}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete register</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Do you really want to delete this registration?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{% url "home:delete_menu_links" item.id %}" type="button" class="btn btn-primary">Confirm delete</a>
                        </div>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% comment %} NEW BANNER {% endcomment %}
    <div class="modal modal-lg fade p-4 py-md-5" aria-hidden="true" tabindex="-1" role="dialog" id="AddBanner">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">New Menu Link</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
        
                <div class="modal-body p-5 pt-0">
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            {{field.label_tag}}
                            {{field}}
                        </div>
                        {% endfor %}
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}