{% extends "base_home.html" %}
{% load static %}
{% block content %}
   <!-- body -->
   <body class="main-layout inner_header about_page">
      {% include "home/partials/_loader.html" %}
      {% include "home/partials/_header.html" %}
      <div class="yellow_darkbg">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Sobre {{settings.site_name}}</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>


      <!-- team -->
      <div class="team">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="titlepage">
                     <h3>{{team.title}}</h3>
                     <p>{{team.description|safe}}</p>
                     <a class="read_more" href="{{team.link}}">{{team.button_name}}</a>
                  </div>
               </div>
                <div class="col-md-5 offset-md-1">
                  <div class="team_img">
                     <figure><img src="{{team.image.url}}" alt="{{team.title}}"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- team -->
        
      {% include "home/partials/_footer.html" %}
      {% include "home/partials/_scripts.html" %}
   </body>
{% endblock content %}
