{% extends "base_home.html" %}
{% block content %}
   <!-- body -->
    <body class="main-layout">
        {% include "home/partials/_loader.html" %}
        {% include "home/partials/_header.html" %}
        {% include "home/partials/_banner.html" %}
        {% include "home/partials/_team.html" %}
        {% include "home/partials/_services.html" %}
        {% include "home/partials/_new_ideas.html" %}
        {% include "home/partials/_testemonial.html" %}
        {% include "home/partials/_contact.html" %}
        {% include "home/partials/_footer.html" %}
        {% include "home/partials/_scripts.html" %}
    </body>
    <!-- body -->
{% endblock content %}

