{% extends "base_dashboard.html" %}
{% block content %}
    <div class="modal-body p-5 pt-0">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for p in update_form %}
                <div class="mb-3">
                    {{p.label_tag}}
                    {{p}}
                </div>
            {% endfor %}
            {% comment %} <div class="mb-3">
                {{update_form.image.label_tag}}
                {{update_form.image}}
            </div>
            <div class="mb-3">
                {{update_form.title.label_tag}}
                {{update_form.title}}
            </div>
            <div class="mb-3">
                {{update_form.description.label_tag}}
                {{update_form.description}}
            </div>
            <div class="mb-3">
                {{update_form.button_name.label_tag}}
                {{update_form.button_name}}
            </div>
            <div class="mb-3">
                {{update_form.link.label_tag}}
                {{update_form.link}}
            </div> {% endcomment %}
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Save</button>
        </form>
    </div>
{% endblock content %}