  
        <h2>Table Contacts</h2>
        {% if contacts.has_other_pages %}
            {% include "pagination.html" %}
        {% endif %}

        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Message</th>
                        <th scope="col">Created at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in contacts %}
                    <tr class="align-middle">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.message}}</td>
                        <td>{{item.created_at}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>