{% load static %}
        <!-- banner -->
        <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for item in carousels %}
                    <li data-target="#banner1" data-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% endif %}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for item in carousels %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="container">
                            <div class="carousel-caption">
                                <div class="row d_flex">
                                    <div class="col-md-6">
                                        <div class="text-bg">
                                        <h1>{{item.title}}</h1>
                                        <p>{{item.description|safe}}</p>
                                        <a href="{{item.link.url}}">{{item.button_name}}</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text_img">
                                        <figure>
                                            <img src="{{item.image.url}}" alt="{{item.title}}"/>
                                            <h3>{{forloop.counter}}</h3>
                                        </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
                <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
        </section>
        <!-- end banner -->