{% load static %}
<!--  contact -->
<div class="contact">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Request A Call Back</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-6">
             <form method="POST" id="request" class="main_form" action="{% url "home:new_contact" %}">
               {% csrf_token %}
                <div class="row">
                  {% for item in contact_form %}
                     <div class="col-md-12 ">
                        {{item}}
                     </div>
                   {% endfor %}
                   <div class="col-md-12">
                      <button class="send_btn">Enviar</button>
                   </div>
                </div>
             </form>
          </div>
          <div class="col-md-6">
             <div class="map">
                <figure><img src="{% static 'images/map_img.png' %}" alt="#"/></figure>
             </div>
          </div>
       </div>
    </div>
</div>
 <!-- end contact -->