{% load static %}
        <!--  footer -->
        <footer>
            <div class="footer">
                <div class="container">
                    <div class="row justify-content-between ">
                        <div class="col-sm-6">
                            <h3 class="mx-auto">Menu</h3>
                            <ul class="link_menu">
                                {% for item in menu_links %}
                                <li><a href="{{item.url.url}}">{{item.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-6 mt-4 my-auto">
                            {% if settings.show_logo %}
                                {% if settings.logo %}
                                    <img class="logo1" src="{{settings.logo.url}}" alt="#"/>
                                {% elif settings.logo2 %}
                                    <img class="logo1" src="{{settings.logo2.url}}" alt="#"/>
                                {% else %}
                                    <h1 class="text-white">{{settings.site_name}}</h1>
                                {% endif %}
                            {% else %}
                                <h1 class="text-white">{{settings.site_name}}</h1>
                            {% endif %}
                            <ul class="d-flex justify-content-center about_us">
                                <li class="text-center">{{settings.site_description|safe}}</li>
                            </ul>
                            {% if settings.show_socials %}
                                <ul class="social_icon d-flex justify-content-center">
                                    {% if settings.facebook %}
                                        <li><a href="{{settings.facebook.url}}"><i class="fa-brands fa-facebook"></i></a></li>
                                    {% endif %}
                                    {% if settings.x_twitter %}
                                        <li><a href="{{settings.x_twitter.url}}"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a></li>
                                    {% endif %}
                                    {% if settings.youtube %}
                                        <li><a href="{{settings.youtube.url}}"><i class="fa-brands fa-youtube" aria-hidden="true"></i></a></li>
                                    {% endif %}
                                    {% if settings.instagram %}
                                        <li><a href="{{settings.instagram.url}}"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                                    {% endif %}
                                    {% if settings.tiktok %}
                                        <li><a href="{{settings.tiktok.url}}"><i class="fa-brands fa-tiktok" aria-hidden="true"></i></a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <form class="bottom_form mt-4" method="POST" action="{% url "home:newsletter" %}">
                            {% csrf_token %}
                            <h3>Inscreva-se</h3>
                            {% for item in newsletter_form %}
                                {{item}}
                            {% endfor %}
                            {% comment %} <input class="enter" placeholder="Digite seu email" type="text" name="Enter your email"> {% endcomment %}
                            <button class="sub_btn">enviar</button>
                        </form>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <p>© {% now "Y" %} Todos os direitos reservados.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->