{% load static %}
         <!-- header -->
         <header>
            {% include "messages.html" %}
         <!-- header inner -->
            <div class="header">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                           <div class="center-desk">
                              {% if settings.logo %}
                                 <div class="logo">
                                    <a href="{% url "home:index" %}"><img src="{{settings.logo}}" alt="{{settings.site_name}}" /></a>
                                 </div>
                              {% elif settings.logo2 %}
                                 <div class="logo">
                                    <a href="{% url "home:index" %}"><img src="{{settings.logo2}}" alt="{{settings.site_name}}" /></a>
                                 </div>
                              {% else %}
                                 <a href="{% url "home:index" %}" role="button"><h1 class="text-white">{{settings.site_name}}</h1></a>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                 <li class="nav-item active">
                                    <a class="nav-link" href="{% url "home:index" %}">Início</a>
                                 </li>
                                 {% for item in menu_links %}
                                 <li class="nav-item">
                                    <a class="nav-link" href="{{item.url}}">{{item.title}}</a>
                                 </li>
                                 {% endfor %}
                                 {% comment %} <li class="nav-item d_none">
                                    <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                 </li> {% endcomment %}
                              </ul>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- end header inner -->
         <!-- end header -->