<!-- New Ideas  section -->
<div class="ideas">
   <div class="container">
      <div class="row">
            <div class="col-md-10">
               <div class="titlepage">
                  <h2>{{new_ideas.title}}</h2>
                  <p>{{new_ideas.description|safe}}</p>
               </div>
            </div>
      </div>
      <div class="border_trbl">
         <div class="row">
            {% for item in new_idea_items %}
            <div class="col-md-4">
               <div class="ideas_box">
                  <h3>{{item.title}}</h3>
                  <p>{{item.short}}</p>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </div>
 </div>
<!-- end New Ideas  section -->
