<!-- New Ideas  section -->
<div class="ideas">
    <div class="container">
       <div class="row">
          <div class="col-md-10">
             <div class="titlepage">
                <h2> New Ideas & Bold Moves</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
             </div>
          </div>
       </div>
       <div class="border_trbl">
          <div class="row">
             <div class="col-md-4">
                <div class="ideas_box">
                   <h3>80%</h3>
                   <p>Email Marketing</p>
                </div>
             </div>
             <div class="col-md-4">
                <div class="ideas_box">
                   <h3>70%</h3>
                   <p>Online Marketing</p>
                </div>
             </div>
             <div class="col-md-4">
                <div class="ideas_box">
                   <h3>60%</h3>
                   <p>Enterprise Marketing</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<!-- end New Ideas  section -->
