{% load static %}
<!-- services -->
<div class="services">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="titlepage">
               <h2>{{services.title}}</h2>
               <p>{{services.description|safe}}</p>
            </div>
         </div>
      </div>
      <div class="row">
         {% for service in services_items %}
         <div class="col-md-4">
            <div id="serv_hover" class="services_box">
               <i><img src="{{service.image.url}}" alt="{{service.title}}" /></i>
               <h3>{{service.title}}</h3>
               <a class="right_irro" href="#"
                  ><i class="fa fa-long-arrow-right" aria-hidden="true"></i
               ></a>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
<!-- end services -->
