{% load static %}
<!-- team -->
<div class="team">
    <div class="container">
       <div class="row d_flex">
          <div class="col-md-5">
             <div class="team_img">
                <figure><img src="{% static 'images/sco.png' %}" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-6 offset-md-1">
             <div class="titlepage">
                <h2>We Are A Dynamic Team Of Seo Agency</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod enim tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                <h3>PROJECTS COMPLETED</h3>
                <strong>1165 <span class="yellow">+</span></strong>
                <a class="read_more" href="#"> Read More</a>
             </div>
          </div>
       </div>
   </div>
   {% comment %} talvez new ideas e services vão aqui {% endcomment %}
   <!-- team -->
 </div>