{% load static %}
<!-- team -->
<div class="team">
    <div class="container">
       <div class="row d_flex">
          <div class="col-md-5">
             <div class="team_img">
                <figure><img src="{% static 'images/sco.png' %}" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-6 offset-md-1">
             <div class="titlepage">
                <h2>{{team.title}}</h2>
                <p>{{team.description|safe}}</p>
                <h3>{{team.short}}</h3>
                <strong>{{team.projects}} <span class="yellow">+</span></strong>
                <a class="read_more" href="{{team.link}}"> {{team.button_name}}</a>
             </div>
          </div>
       </div>
   </div>
   {% comment %} talvez new ideas e services vão aqui {% endcomment %}
   <!-- team -->
 </div>