{% load static %}
<!-- testimonial -->
<div class="testimonial">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>{{testemonials.title}}</h2>
               <p>{{testemonials.description|safe}}</p>
            </div>
         </div>
      </div>
      <div class="row">
         {% for item in testemonial_items %}
         <div class="col-md-6 ">
            <div class="test_box margin_bottom">
               <p>{{item.comment|safe}}</p>
               <div class="test_icon">
                  <i><img src="{{item.image.url}}" alt="{{item.name}}" width="60" height="60"/></i>
                  <h4>{{item.name}}<br> <span class="yellow">{{item.call}}</span></h4>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
 <!-- end testimonial -->